* {
  // 取消所有样式
  // all: unset;
}


/** General **/
.css-initial {
  all: initial;
}

.bar {
  all: initial;
}


// 系统托盘
.systray {
  background-color: rgba(119, 153, 170, 0.7529);
  border-radius: 12px;
}


// 工作区
.workspace-norm {
  color: rgb(187, 187, 187, 1);
  background-color: rgba(51, 51, 51, 0.8);
  border-style: ridge;
  border-color: rgba(68, 68, 68, 0.9);
  border-width: 1px;
}
.workspace-sel {
  color: rgb(255, 255, 255, 1);
  background-color: rgba(55, 71, 79, 0.8);
  border-style: groove;
  border-color: rgba(66, 165, 245, 0.9);
  border-width: 1px;
}

.workspace-label {
  margin-left: 11px;
  margin-right: 11px;
  font-size: 160%;
}

.net {
  .box {
    margin-right: 10px;
  }
  .icon {
    margin-right: 2px;
  }
  .value {
    font-size: 11px;
  }
}

.cpu {
  .icon {
    margin-right: 10px;
    font-size: 16px;
    color: #ec407a;
  }
  .value {
    margin-right: 10px;
    font-size: 11px;
  }
}

.temp {
  .icon {
    margin-right: 10px;
    font-size: 16px;
    color: #f03805;
  }
  .value {
    margin-right: 10px;
    font-size: 11px;
  }
}

.mem {
  .box {
    margin-right: 2px;
  }
  .icon {
    color: #fbc02d;
    margin-right: 10px;
  }
  .key {
    font-size: 12px;
    margin-right: 2px;
  }
  .value {
    margin-right: 10px;
  }
}

.datatime {
  .box {
    margin-right: 10px;
  }
  .icon {
    font-size: 20px;
    color: #bfc9db;
  }
  .value {
    font-size: 25px;
    color: #bfc9db;
    font-weight: bold;
  }
}
