* {
  // 取消所有样式
  all: unset;
}


/** General **/
.bar {
  background-color: rgba(51, 51, 51, 0.2);
  color: #b0b4bc;
  border-radius: 10px;
}


.systray {
  background-color: rgba(119, 153, 170, 0.7529);
}


// 工作区
._workspaces {
  .workspace {
    padding: 5px;
  }
  .off {
    color: #7aa2f7;
    background-color: rgb(51, 51, 51);
  }
  .on {
    color: #f6e377;
    background-color: #37474F;
  }
}