* {
  // 取消所有样式
  // all: unset;
}


/** General **/
.css-initial {
  all: initial;
}

.bar {
  all: initial;
}


// 系统托盘
.systray {
  background-color: rgba(119, 153, 170, 0.7529);
  border-radius: 12;
}


// 工作区
.workspace-norm {
  color: rgb(187, 187, 187, 1);
  background-color: rgba(51, 51, 51, 0.8);
  border-style: ridge;
  border-color: rgba(68, 68, 68, 0.9);
  border-width: 1px;
}
.workspace-sel {
  color: rgb(255, 255, 255, 1);
  background-color: rgba(55, 71, 79, 0.8);
  border-style: groove;
  border-color: rgba(66, 165, 245, 0.9);
  border-width: 1px;
}

.workspace-label {
  margin-left: 11px;
  margin-right: 11px;
  font-size: 160%;
}

.icon {
  margin-right: 10px;
  font-size: 16px;
  color: #ec407a;
}

.val {
  margin-right: 10px;
  font-size: 12px;
}

.datatime {
  .box {
    margin-right: 10px;
  }
  .value {
    font-size: 23px;
    color: #bfc9db;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
  }
  .icon {
    font-size: 17;
    color: #bfc9db;
    margin: 0px 4px 1px 4px;
  }
}
