input {
    keyboard {
        xkb {// You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).
            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

        }
        // You can set the keyboard repeat parameters. The defaults match wlroots and sway.
        // Delay is in milliseconds before the repeat starts. Rate is in characters per second.
        // repeat-delay 600
        // repeat-rate 25
        // Niri can remember the keyboard layout globally (the default) or per-window.
        // - "global" - layout change is global for all windows.
        // - "window" - layout is tracked for each window individually.
        // track-layout "global"
        numlock
    }
    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        tap
        dwt
        // dwtp
        natural-scroll
    }
    mouse {// natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"

    }
    trackpoint {// natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"

    }
    tablet {// Set the name of the output (see below) which the tablet will map to.
        // If this is unset or the output doesn't exist, the tablet maps to one of the
        // existing outputs.
        // map-to-output eDP-1

    }
}

