layout {
    // 间隙
    gaps 12
    center-focused-column "never"
    // 当工作区只有一列时，居中列
    always-center-single-column
    // eg：normal、tabbed
    default-column-display "normal"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.66667;
    }
    border {
        on
        width 2
        active-color "red"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
    focus-ring {
        off
    }
    shadow {
        off
    }
    tab-indicator {
        gap 3
        width 3
        length total-proportion=0.7
        gaps-between-tabs 0
        corner-radius 8
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
    }
    insert-hint {
        color "#ffc87f80"
        gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }
    struts { }
}
