include "config/input.kdl"

include "config/layout.kdl"

spawn-at-startup "eww" "open" "bar"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "flameshot"
spawn-at-startup "fcitx5"
spawn-at-startup "nm-applet"
spawn-at-startup "wpaperd"
spawn-sh-at-startup "swaybg -m fill -i ~/job/wallpaper/102.png"
// 自动锁屏
spawn-sh-at-startup "swayidle -w timeout 241 'niri msg action power-off-monitors' timeout 240 'swaylock --screenshots --effect-blur 6x0 -f' before-sleep 'swaylock --screenshots --effect-blur 6x0 -f'"
prefer-no-csd
screenshot-path null
// 环境变量
environment {
    // Set a variable like this:
    QT_QPA_PLATFORM "wayland"
    // electron wayland su
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    // 系统语言配置
    LANG "zh_CN.UTF-8"
    LANGUAGE "zh_CN:en_US"
    // fcitx5 配置
    QT_IM_MODULE "fcitx"
    SDL_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
    GLFW_IM_MODULE "ibus"
}
// 光标
cursor {
    // Change the theme and size of the cursor as well as set the
    // `XCURSOR_THEME` and `XCURSOR_SIZE` env variables.
    // xcursor-theme "default"
    // xcursor-size 24
    // hide-when-typing
    // Hide the cursor after one second of inactivity.
    // hide-after-inactive-ms 1000
}
overview {
    zoom 0.6
    workspace-shadow {
        off
    }
}
// Settings for the "Important Hotkeys" overlay.
hotkey-overlay {
    // Uncomment this line if you don't want to see the hotkey help at niri startup.
    skip-at-startup
}
include "config/binds.kdl"
include "config/window-rule.kdl"
include "config/layer-rule.kdl"
include "config/animations.kdl"
include "config/gestures.kdl"
include "config/recent-windows.kdl"
